go 1.25.5

use (
	.
	./actor/middleware/opentelemetry
	./actor/middleware/opentracing
	./cluster/clusterproviders/consul
	./cluster/clusterproviders/etcd
	./cluster/clusterproviders/k8s
	./cluster/clusterproviders/natskv
	./cluster/clusterproviders/natsstream
	./cluster/clusterproviders/zk
	./cluster/identitylookup/nats
	./cluster/identitylookup/postgres
	./cluster/identitylookup/redis
	./examples/actor-autorespond
	./examples/actor-backpressure
	./examples/actor-deadletter
	./examples/actor-helloworld
	./examples/actor-inprocess-benchmark
	./examples/actor-jaegertracing
	./examples/actor-lifecycleevents
	./examples/actor-logging
	./examples/actor-mailbox-middleware
	./examples/actor-messagebatch
	./examples/actor-mixins
	./examples/actor-opentelemetry
	./examples/actor-receive-middleware
	./examples/actor-receive-timeout
	./examples/actor-request-response
	./examples/actor-setbehavior
	./examples/actor-spawn-benchmark
	./examples/actor-supervision
	./examples/cluster-basic
	./examples/cluster-broadcast
	./examples/cluster-error-response
	./examples/cluster-eventstream-broadcast
	./examples/cluster-gossip
	./examples/cluster-grain
	./examples/cluster-metrics
	./examples/cluster-nats-kv
	./examples/cluster-nats-kv-multi
	./examples/cluster-nats-stream
	./examples/cluster-nats-stream-multi
	./examples/cluster-node-failure-opentelemetry
	./examples/cluster-pubsub
	./examples/cluster-pubsub-batching-producer
	./examples/cluster-reentrancy
	./examples/cluster-restartgracefully
	./examples/kubernetes-sample
	./examples/nats-forwarder
	./examples/nats-identity-prevention
	./examples/nats-jetstream-virtual-actor-ingress
	./examples/nats-stream-locality
	./examples/nats-virtual-actor-ingress
	./examples/opentelemetry
	./examples/opentelemetry-custom-provider
	./examples/persistence
	./examples/remote-activate
	./examples/remote-advertised-address
	./examples/remote-benchmark
	./examples/remote-channels
	./examples/remote-chat
	./examples/remote-header
	./examples/remote-routing
	./examples/remote-ssl
	./examples/remote-watch
	./examples/router-demo
	./examples/router-limitconcurrency
	./examples/scheduler
	./persistence/protocb
	./persistence/protodynamo
	./persistence/protopg
)
